// When changing these colours, make sure to update the ones in styles/colors.js

$white: #F7F7F7
$primary: #d81b60
$primary-dark: #ad1457
$secondary: #388278
$secondary-light: #35AE9E
$lightGrey: #E9E9E9
$grey: #D2D4C8
$darkGrey: #4A4A4A
$black: #3A3A3A
