// When changing these colours, make sure to update the ones in styles/colors.js

$white: #F7F7F7
$primary: #0a6b5f
$primary-dark: #044f46
$lightGrey: #E9E9E9
$grey: #D2D4C8
$darkGrey: #4A4A4A
$black: #3A3A3A
