// When changing these colours, make sure to update the ones in styles/colors.js
$white: #F7F7F7
$green: #4FC77B
$emerald: #3F8F85
$lightGrey: #E0E2DB
$grey: #D2D4C8
$darkGrey: #4A4A4A
$black: #3A3A3A

body
  background-color: $white
  color: $black
  font-family: 'Quicksand', 'Fira Sans', 'Roboto', sans-serif
  font-size: 1rem
  line-height: 1.6
  margin: 0
  overflow-x: hidden

h1, h2, h3, h4, h5, h6
  color: $darkGrey
  font-family: 'Crete Round', serif

h1
  background-color: $emerald
  color: $white
  padding: 1rem

a
  color: $emerald
  text-decoration: none
  transition: all 0.2s ease

  &:hover
    filter: contrast(200%)

code
  background-color: $emerald
  color: $white
